<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/vendor/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <link href="/assets/vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/vendor/jquery/jquery-3.7.0.min.js"></script>
    <script src="/assets/vendor/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui-1.13.2/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title><%= data['title']%></title>
</head>
<body>
    <!-- admin panel header: start -->
    <%- include('../shared/header.html.ejs', { data: data }) %>
    <!-- admin panel header: end -->

    <!-- admin panel body: start -->
    <main>
        <div class="row p-3 mt-5">
            <!-- <div class="row">
                <div class="col">
                    <a href="/admin/blog/new" class="btn btn-primary">+ New Blog</a>
                </div>
            </div> -->

            <!-- left nav buttons: start -->
            <div class="col-2 btns-admin-nav">
                <a class="btn btn-light btn-nav btn-settings selected" href="javascript:" style="width: -webkit-fill-available;">Profile Settings</a>
                <a class="btn btn-light btn-nav btn-blogs" href="javascript:" style="width: -webkit-fill-available; margin-top: 10px;">Archive</a>
                <a class="btn btn-light btn-nav btn-other" href="javascript:" style="width: -webkit-fill-available; margin-top: 10px;">Other</a>
            </div>
            <!-- left nav buttons: end -->

            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <% _blog = data['blog'] %>
                        <h3 style="font-weight: bold;"><%= _blog.title %></h3>
                        <p>Written by <span style="font-weight: bold;"><%= _blog.author %></span> on <%= _blog.published_on.toLocaleDateString() %>&nbsp;<%= _blog.published_on.toLocaleTimeString() %></p>
                        <hr/>
                        <input type="hidden" id="description" value="<%= _blog.description %>"/>
                        <p id="render-description"></p>
                    </div>
                </div>
            </div>
        
        </div>
    </main>
    <!-- admin panel body: end -->

    <!-- admin panel footer: start -->
    <%- include('../../shared/layouts/footer.html.ejs') %>
    <!-- admin panel footer: end -->
</body>
</html>

<script type="application/javascript">
    $(document).ready(function() {
        document.querySelector('#render-description').innerHTML = document.querySelector('#description').value;
    })
</script>
